h1 {
    color: crimson;
    text-align: center;
}

h2 {
    color: cornflowerblue;
    margin-left: auto;
}
h3 {
    color: darkorange;
    margin-left: auto;
}
body {
    background-color: linen;
}
img {
    margin-top: 1%;
    align-self: center;
    width: 1024px;
    height: 340px
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #e9d8f4;
}
  
#nav a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
#nav a.active {
    background-color: #58257b;
    font-weight: bold;
    color: white;
}
  
#nav a:hover:not(.active) {
    background-color: #db7093;
    font-weight: bold;
    color: white;
}