h1 {
    color: crimson;
    text-align: center;
}

h2 {
    color: cornflowerblue;
    margin-left: auto;
}
h3 {
    color: darkorange;
    margin-left: auto;
}
body {
    background-color: linen;
}
img {
    width: 1024px;
    height: 340px
}
