h1 {
    color: crimson;
    text-align: center;
}

h2 {
    color: cornflowerblue;
    margin-left: auto;
}
h3 {
    color: darkorange;
    margin-left: auto;
}
body {
    background-color: linen;
}
img {
    margin-top: 0.5%;
    align-self: center;
    width: 900px;
    height: 300px
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
}

.nav {
  float: left;
}

.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover:not(.active) {
  background-color: black;
}

.active {
  background-color:green;
}
